.movies-container{
    margin-left:70px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies-container__more{
    margin: 50px 0 80px;
    width: 320px;
    height: 36px;
    border: solid 1px #424242;
    background-color: #202020;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    padding: 0;
}

.movies-conteiner__error{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.movies-container__unvisible{
    display: none;
}

.movies-container__more:hover{
    opacity: 0.8;
}


@media screen and (max-width:900px) {
    .movies-container{
        margin-left:30px;
        margin-right: 30px;
    }

    .movies-container__more{
        margin-top: 70px;

    }
  }

  @media screen and (max-width:500px) {
    .movies-container{
        margin-left:10px;
        margin-right: 10px;
    }

    .movies-container__more{
        width: 240px;

    }
  }