.about-project {
  color: #FFFFFF;
}

.about-project__conteiner {
  padding: 110px 70px;
}

.about-project__title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -1px;
  border-bottom: solid 1px #fff;
}

.about-project__content {
  display: flex;
  margin-top: 70px;
  gap: 40px;
  letter-spacing: -0, 8px;
}

.about-project__info {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  gap: 26px;
}

.about-project__info-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.about-project__info-about {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.1px;
}

.about-project__timing {
  margin-top: 110px;
  display: grid;
  grid-template-rows: repeat(5, max-content);
  grid-template-columns: repeat(5, 1fr);
}

.about-project__graph {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

.about-project__graph_green {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  background-color: #2be080;
  height: 36px;
}

.about-project__graph_gray {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4 / 5;
  grid-column: 2 / 6;
  background-color: #303030;
  height: 36px;
  color: #FFFFFF;
}

.about-project__graph_title-first {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  margin-top: 14px;
  color: #a0a0a0;
  font-weight: 500;
}

.about-project__graph_title-other {
  grid-row: 5 / 6;
  grid-column: 2 / 6;
  margin-top: 14px;
  color: #a0a0a0;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .about-project__conteiner {
    padding: 90px 50px;
  }

  .about-project__content {
    gap: 38px;
  }

  .about-project__info-about {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }

  .about-project__timing {
    margin-top: 93px;
  }

  .about-project__info {
    gap: 22px;
  }
}

@media screen and (max-width: 500px) {
  .about-project__content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-top: 60px;

  }

  .about-project__conteiner {
    padding: 70px 18px 69px;
  }

  .about-project__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

  .about-project__info {
    gap: 16px;
  }

  .about-project__info-title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1px;
  }

  .about-project__info-about {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.04px;
  }

  .about-project__timing {
    margin-top: 60px;
    grid-template-columns: repeat(3, 1fr);
  }

  .about-project__graph {
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__graph_green {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 35px;
  }

  .about-project__graph_gray {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    height: 35px;
  }

  .about-project__graph_title-first {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-top: 10px;
  }

  .about-project__graph_title-other {
    grid-row: 2 / 3;
    grid-column: 2 / 6;
    margin-top: 10px;
  }
}
