.techs {
  background-color: #272727;
  color: #fff;
}

.techs__container {
  padding: 100px 70px;
}

.techs__title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -1px;
  border-bottom: solid 1px #fff;
}

.techs__lot-title {
  margin: 90px 0 0;
  text-align: center;
  letter-spacing: -2.2px;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
}

.techs__about {
  padding: 26px 0 0;
  text-align: center;
  letter-spacing: -0.64px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 460px;
}

.techs__list {
  list-style: none;
  padding: 0;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.techs__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.64px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background-color: #303030;
  width: 90px;
  height: 60px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .techs__container {
    padding: 90px 50px 90px;
  }

  .techs__lot-title {
    margin: 80px 0 0;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
  }

  .techs__about {
    padding: 22px 134px 0;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.54px;
  }

  .techs__list {
   margin: 83px auto 0;
 }

 .techs__list-item {
  font-size: 12px;
  line-height: 15px;
  width: 84px;
  height: 57px;

}
}

@media screen and (max-width: 500px) {
  .techs__container {
    padding: 72px 18px;
  }

  .techs__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .techs__lot-title {
    margin: 60px 0 0;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
  }

  .techs__about {
    padding: 24px 0 0;
    letter-spacing: -0.56px;
    font-size: 11px;
    line-height: 16px;
  }

  .techs__list {
   margin: 50px auto 0;
   display: grid;
   grid-template-columns: min-content min-content;
   grid-auto-rows: min-content;
 }
}
