.navigation-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: 2;
  background-color: #0000004d;
  opacity: 0;
}

.navigation-cover_visual {
  visibility: visible;
  opacity: 1;
}

.navigation {
  width: 520px;
  height: 100vh;
  background-color: #202020;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navigation_visual {
  transform: translateX(0%);
}

.navigation_hidden {
  transform: translateX(100%);
}

.navigation__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 159px 0;
  width: 340px;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  border-bottom: solid 1px #fff;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.navigation__profile {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}

.navigation__profile-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.navigation__close {
  background: #fff url(../../../images/close-burger.svg) center no-repeat;
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 26px;
  background-color: #202020;
}

@media screen and (max-width: 500px) {
  .navigation {
    width: 320px;
  }

  .navigation__links {
    gap: 24px;
    padding: 144px 10px 0;
    max-width: 340px;
  }

  .navigation__link_active {
    border-bottom: solid 1px #fff;
  }

  .navigation__profile {
    margin-bottom: 54px;
  }

  .navigation__close {
    top: 18px;
    right: 18px;
  }
}
